# Multiple Linear Regression

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.linear_model import LinearRegression

## Importing the data set

In [5]:
data_set = pd.read_csv("housing.csv")
print(data_set)

        price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

[545 rows x 13 columns]

In [6]:
x = data_set.iloc[:,1:].values
y = data_set.iloc[:,0].values

In [7]:
print(x)

[[7420 4 2 ... 2 'yes' 'furnished']
 [8960 4 4 ... 3 'no' 'furnished']
 [9960 3 2 ... 2 'yes' 'semi-furnished']
 ...
 [3620 2 1 ... 0 'no' 'unfurnished']
 [2910 3 1 ... 0 'no' 'furnished']
 [3850 3 1 ... 0 'no' 'unfurnished']]

In [8]:
print(y)

[13300000 12250000 12250000 12215000 11410000 10850000 10150000 10150000
  9870000  9800000  9800000  9681000  9310000  9240000  9240000  9100000
  9100000  8960000  8890000  8855000  8750000  8680000  8645000  8645000
  8575000  8540000  8463000  8400000  8400000  8400000  8400000  8400000
  8295000  8190000  8120000  8080940  8043000  7980000  7962500  7910000
  7875000  7840000  7700000  7700000  7560000  7560000  7525000  7490000
  7455000  7420000  7420000  7420000  7350000  7350000  7350000  7350000
  7343000  7245000  7210000  7210000  7140000  7070000  7070000  7035000
  7000000  6930000  6930000  6895000  6860000  6790000  6790000  6755000
  6720000  6685000  6650000  6650000  6650000  6650000  6650000  6650000
  6629000  6615000  6615000  6580000  6510000  6510000  6510000  6475000
  6475000  6440000  6440000  6419000  6405000  6300000  6300000  6300000
  6300000  6300000  6293000  6265000  6230000  6230000  6195000  6195000
  6195000  6160000  6160000  6125000  6107500  6090000  6090000  6090000
  6083000  6083000  6020000  6020000  6020000  5950000  5950000  5950000
  5950000  5950000  5950000  5950000  5950000  5943000  5880000  5880000
  5873000  5873000  5866000  5810000  5810000  5810000  5803000  5775000
  5740000  5740000  5740000  5740000  5740000  5652500  5600000  5600000
  5600000  5600000  5600000  5600000  5600000  5600000  5600000  5565000
  5565000  5530000  5530000  5530000  5523000  5495000  5495000  5460000
  5460000  5460000  5460000  5425000  5390000  5383000  5320000  5285000
  5250000  5250000  5250000  5250000  5250000  5250000  5250000  5250000
  5250000  5243000  5229000  5215000  5215000  5215000  5145000  5145000
  5110000  5110000  5110000  5110000  5075000  5040000  5040000  5040000
  5040000  5033000  5005000  4970000  4970000  4956000  4935000  4907000
  4900000  4900000  4900000  4900000  4900000  4900000  4900000  4900000
  4900000  4900000  4900000  4900000  4893000  4893000  4865000  4830000
  4830000  4830000  4830000  4795000  4795000  4767000  4760000  4760000
  4760000  4753000  4690000  4690000  4690000  4690000  4690000  4690000
  4655000  4620000  4620000  4620000  4620000  4620000  4613000  4585000
  4585000  4550000  4550000  4550000  4550000  4550000  4550000  4550000
  4543000  4543000  4515000  4515000  4515000  4515000  4480000  4480000
  4480000  4480000  4480000  4473000  4473000  4473000  4445000  4410000
  4410000  4403000  4403000  4403000  4382000  4375000  4340000  4340000
  4340000  4340000  4340000  4319000  4305000  4305000  4277000  4270000
  4270000  4270000  4270000  4270000  4270000  4235000  4235000  4200000
  4200000  4200000  4200000  4200000  4200000  4200000  4200000  4200000
  4200000  4200000  4200000  4200000  4200000  4200000  4200000  4200000
  4193000  4193000  4165000  4165000  4165000  4130000  4130000  4123000
  4098500  4095000  4095000  4095000  4060000  4060000  4060000  4060000
  4060000  4025000  4025000  4025000  4007500  4007500  3990000  3990000
  3990000  3990000  3990000  3920000  3920000  3920000  3920000  3920000
  3920000  3920000  3885000  3885000  3850000  3850000  3850000  3850000
  3850000  3850000  3850000  3836000  3815000  3780000  3780000  3780000
  3780000  3780000  3780000  3773000  3773000  3773000  3745000  3710000
  3710000  3710000  3710000  3710000  3703000  3703000  3675000  3675000
  3675000  3675000  3640000  3640000  3640000  3640000  3640000  3640000
  3640000  3640000  3640000  3633000  3605000  3605000  3570000  3570000
  3570000  3570000  3535000  3500000  3500000  3500000  3500000  3500000
  3500000  3500000  3500000  3500000  3500000  3500000  3500000  3500000
  3500000  3500000  3500000  3500000  3493000  3465000  3465000  3465000
  3430000  3430000  3430000  3430000  3430000  3430000  3423000  3395000
  3395000  3395000  3360000  3360000  3360000  3360000  3360000  3360000
  3360000  3360000  3353000  3332000  3325000  3325000  3290000  3290000
  3290000  3290000  3290000  3290000  3290000  3290000  3255000  3255000
  3234000  3220000  3220000  3220000  3220000  3150000  3150000  3150000
  3150000  3150000  3150000  3150000  3150000  3150000  3143000  3129000
  3118850  3115000  3115000  3115000  3087000  3080000  3080000  3080000
  3080000  3045000  3010000  3010000  3010000  3010000  3010000  3010000
  3010000  3003000  2975000  2961000  2940000  2940000  2940000  2940000
  2940000  2940000  2940000  2940000  2870000  2870000  2870000  2870000
  2852500  2835000  2835000  2835000  2800000  2800000  2730000  2730000
  2695000  2660000  2660000  2660000  2660000  2660000  2660000  2660000
  2653000  2653000  2604000  2590000  2590000  2590000  2520000  2520000
  2520000  2485000  2485000  2450000  2450000  2450000  2450000  2450000
  2450000  2408000  2380000  2380000  2380000  2345000  2310000  2275000
  2275000  2275000  2240000  2233000  2135000  2100000  2100000  2100000
  1960000  1890000  1890000  1855000  1820000  1767150  1750000  1750000
  1750000]

# Taking care of missing data

In [9]:
imputer = SimpleImputer(missing_values = np.nan, strategy="mean")
imputer.fit(x[:,0:4])
x[:,0:4] = imputer.transform(x[:,0:4])
print(x)

[[7420.0 4.0 2.0 ... 2 'yes' 'furnished']
 [8960.0 4.0 4.0 ... 3 'no' 'furnished']
 [9960.0 3.0 2.0 ... 2 'yes' 'semi-furnished']
 ...
 [3620.0 2.0 1.0 ... 0 'no' 'unfurnished']
 [2910.0 3.0 1.0 ... 0 'no' 'furnished']
 [3850.0 3.0 1.0 ... 0 'no' 'unfurnished']]

## Encoding categorical data

In [10]:
le = LabelEncoder()
for i in range(4,9):
    x[:,i]=le.fit_transform(x[:, i])
x[:,10] = le.fit_transform(x[:, 10])
df2 = pd.DataFrame(x,
                   columns=['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus'])
print(df2)

       area bedrooms bathrooms stories mainroad guestroom basement  \
0    7420.0      4.0       2.0     3.0        1         0        0
1    8960.0      4.0       4.0     4.0        1         0        0
2    9960.0      3.0       2.0     2.0        1         0        1
3    7500.0      4.0       2.0     2.0        1         0        1
4    7420.0      4.0       1.0     2.0        1         1        1
..      ...      ...       ...     ...      ...       ...      ...
540  3000.0      2.0       1.0     1.0        1         0        1
541  2400.0      3.0       1.0     1.0        0         0        0
542  3620.0      2.0       1.0     1.0        1         0        0
543  2910.0      3.0       1.0     1.0        0         0        0
544  3850.0      3.0       1.0     2.0        1         0        0

    hotwaterheating airconditioning parking prefarea furnishingstatus
0                 0               1       2        1        furnished
1                 0               1       3        0        furnished
2                 0               0       2        1   semi-furnished
3                 0               1       3        1        furnished
4                 0               1       2        0        furnished
..              ...             ...     ...      ...              ...
540               0               0       2        0      unfurnished
541               0               0       0        0   semi-furnished
542               0               0       0        0      unfurnished
543               0               0       0        0        furnished
544               0               0       0        0      unfurnished

[545 rows x 12 columns]

In [11]:
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[-1])], remainder ='passthrough')
x = ct.fit_transform(x)

In [12]:
print(x)

[[1.0 0.0 0.0 ... 1 2 1]
 [1.0 0.0 0.0 ... 1 3 0]
 [0.0 1.0 0.0 ... 0 2 1]
 ...
 [0.0 0.0 1.0 ... 0 0 0]
 [1.0 0.0 0.0 ... 0 0 0]
 [0.0 0.0 1.0 ... 0 0 0]]

## Splitting the dataset into the Training set and Test set

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 0)

## Training Multiple linear Regression Model on Training set

In [14]:
Regressor = LinearRegression()
Regressor.fit(x_train,y_train)

LinearRegression()

## Predict Test Result

In [15]:
y_predict = Regressor.predict(x_test)
print(y_predict)

[ 3950288.61876186  6173868.81883097  4483635.98836257  7258732.75105262
  2836727.58490489  7032947.09749069  3203851.47112398  3270994.00904059
  3472554.03645921  8289978.32623712  6605321.62954622  3723366.23684097
  3812376.95976089  4548966.84544606  4020476.34849665  1969836.22090145
  4057262.98087852  3704586.86711738  3282767.93188797  4609423.64909565
  5968243.7363715   6363698.62063812  4751300.32389     2659595.2763304
  5305573.24662114  5680819.58784466  5404106.90027136  5543050.52192533
  5768360.47982213  5801753.70839278  3389277.9611061   6399092.02678432
  7081030.31411766  2913042.40387674  4498664.01335428  5210561.68059363
  5013457.84122307  3707596.71347581  2916603.45485344  3937761.75634076
  8041334.20180906  4942174.61142058  6432605.21981749  3511338.78156424
  3813475.39540802  6434856.19540023  4447687.02885143  2696243.71724909
  4180018.7062579   6455973.25779219  4056226.34306795  7124571.30073162
  2530661.67791769  3033278.46419633  3500830.32062851  5119451.01676906
  7110973.93249732  4127705.79986422  2970005.36861355  4325732.61744623
  5986119.70766289  6824682.68794772  3325637.45729287  7191804.55935359
  2609468.55099836  5056521.66455845  6636269.77589391  2565659.89128223
  3751294.03758699  5080427.99370212  4281895.68812414  7361447.18275848
  5088033.19021901  6022539.93047588  4176648.20409018  4639478.54662216
  2898083.34640792  7564393.66040199  2583102.74086261  3764386.73199931
  4281895.68812414  6064669.41608409  5199726.50699984  5402615.00751864
  3900783.41794333  4206866.2650743   4785571.46071493  5125782.90220212
  3843109.12191362  4373515.96292202  3233779.5782631   5800152.85515802
  3086788.94075886  3736808.50597383  4475695.33317623 10490600.69498244
  3044861.09249672  7172608.23555216  4348859.16641406  4508307.36728267
  6607800.84903008  3393091.94230309  4545560.49433451  3313363.08812173
  7340959.28328467  5235408.60082987  4134159.03053663  5058911.23363255
  6279957.32173086]

In [16]:
df = pd.DataFrame({"Acctual value":y_test,"predicted value":np.round(y_predict, 2),"difference":y_test-np.round(y_predict, 2)})

In [19]:
print(df)

     Acctual value  predicted value  difference
0          4585000       3950288.62   634711.38
1          6083000       6173868.82   -90868.82
2          4007500       4483635.99  -476135.99
3          6930000       7258732.75  -328732.75
4          2940000       2836727.58   103272.42
..             ...              ...         ...
104        6650000       7340959.28  -690959.28
105        5810000       5235408.60   574591.40
106        4123000       4134159.03   -11159.03
107        3080000       5058911.23 -1978911.23
108        5530000       6279957.32  -749957.32

[109 rows x 3 columns]