# Multiple Linear Regression

In [14]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
dataset = pd.read_csv('D:\\Resolve6_Training\\DS_ML\\Sample Data Sets\\50_Startups.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]
print(df.head())

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
print(df.shape)

(50, 5)

In [17]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

Handling categorical variables
In our dataset, there is one categorical column State, we have to handle this categorical values present inside this column for that we will use pandas get_dummies() function

In [29]:
#Convert the column into categorical columns
states=pd.get_dummies(X['State'],drop_first=True)

# Drop the state coulmn
X=X.drop('State',axis=1)

# concat the dummy variables
X=pd.concat([X,states],axis=1)
print(x)

    R&D Spend  Administration  Marketing Spend  R&D Spend  Administration  \
0   165349.20       136897.80        471784.10  165349.20       136897.80
1   162597.70       151377.59        443898.53  162597.70       151377.59
2   153441.51       101145.55        407934.54  153441.51       101145.55
3   144372.41       118671.85        383199.62  144372.41       118671.85
4   142107.34        91391.77        366168.42  142107.34        91391.77
5   131876.90        99814.71        362861.36  131876.90        99814.71
6   134615.46       147198.87        127716.82  134615.46       147198.87
7   130298.13       145530.06        323876.68  130298.13       145530.06
8   120542.52       148718.95        311613.29  120542.52       148718.95
9   123334.88       108679.17        304981.62  123334.88       108679.17
10  101913.08       110594.11        229160.95  101913.08       110594.11
11  100671.96        91790.61        249744.55  100671.96        91790.61
12   93863.75       127320.38        249839.44   93863.75       127320.38
13   91992.39       135495.07        252664.93   91992.39       135495.07
14  119943.24       156547.42        256512.92  119943.24       156547.42
15  114523.61       122616.84        261776.23  114523.61       122616.84
16   78013.11       121597.55        264346.06   78013.11       121597.55
17   94657.16       145077.58        282574.31   94657.16       145077.58
18   91749.16       114175.79        294919.57   91749.16       114175.79
19   86419.70       153514.11             0.00   86419.70       153514.11
20   76253.86       113867.30        298664.47   76253.86       113867.30
21   78389.47       153773.43        299737.29   78389.47       153773.43
22   73994.56       122782.75        303319.26   73994.56       122782.75
23   67532.53       105751.03        304768.73   67532.53       105751.03
24   77044.01        99281.34        140574.81   77044.01        99281.34
25   64664.71       139553.16        137962.62   64664.71       139553.16
26   75328.87       144135.98        134050.07   75328.87       144135.98
27   72107.60       127864.55        353183.81   72107.60       127864.55
28   66051.52       182645.56        118148.20   66051.52       182645.56
29   65605.48       153032.06        107138.38   65605.48       153032.06
30   61994.48       115641.28         91131.24   61994.48       115641.28
31   61136.38       152701.92         88218.23   61136.38       152701.92
32   63408.86       129219.61         46085.25   63408.86       129219.61
33   55493.95       103057.49        214634.81   55493.95       103057.49
34   46426.07       157693.92        210797.67   46426.07       157693.92
35   46014.02        85047.44        205517.64   46014.02        85047.44
36   28663.76       127056.21        201126.82   28663.76       127056.21
37   44069.95        51283.14        197029.42   44069.95        51283.14
38   20229.59        65947.93        185265.10   20229.59        65947.93
39   38558.51        82982.09        174999.30   38558.51        82982.09
40   28754.33       118546.05        172795.67   28754.33       118546.05
41   27892.92        84710.77        164470.71   27892.92        84710.77
42   23640.93        96189.63        148001.11   23640.93        96189.63
43   15505.73       127382.30         35534.17   15505.73       127382.30
44   22177.74       154806.14         28334.72   22177.74       154806.14
45    1000.23       124153.04          1903.93    1000.23       124153.04
46    1315.46       115816.21        297114.46    1315.46       115816.21
47       0.00       135426.92             0.00       0.00       135426.92
48     542.05        51743.15             0.00     542.05        51743.15
49       0.00       116983.80         45173.06       0.00       116983.80

    Marketing Spend  State_Florida  State_New York
0         471784.10              0               1
1         443898.53              0               0
2         407934.54              1               0
3         383199.62              0               1
4         366168.42              1               0
5         362861.36              0               1
6         127716.82              0               0
7         323876.68              1               0
8         311613.29              0               1
9         304981.62              0               0
10        229160.95              1               0
11        249744.55              0               0
12        249839.44              1               0
13        252664.93              0               0
14        256512.92              1               0
15        261776.23              0               1
16        264346.06              0               0
17        282574.31              0               1
18        294919.57              1               0
19             0.00              0               1
20        298664.47              0               0
21        299737.29              0               1
22        303319.26              1               0
23        304768.73              1               0
24        140574.81              0               1
25        137962.62              0               0
26        134050.07              1               0
27        353183.81              0               1
28        118148.20              1               0
29        107138.38              0               1
30         91131.24              1               0
31         88218.23              0               1
32         46085.25              0               0
33        214634.81              1               0
34        210797.67              0               0
35        205517.64              0               1
36        201126.82              1               0
37        197029.42              0               0
38        185265.10              0               1
39        174999.30              0               0
40        172795.67              0               0
41        164470.71              1               0
42        148001.11              0               0
43         35534.17              0               1
44         28334.72              0               0
45          1903.93              0               1
46        297114.46              1               0
47             0.00              0               0
48             0.00              0               1
49         45173.06              0               0

split the data into training and testing parts for that we use the scikit-learn train_test_split() function.

In [30]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [31]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [33]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)
print(y_pred)

[103015.20159796 132582.27760816 132447.73845174  71976.09851258
 178537.48221055 116161.24230165  67851.69209676  98791.73374687
 113969.43533012 167921.0656955 ]

In [39]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_pred)
print('r2 socre is',score)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('mean_sqrd_error is==',mean_squared_error(y_test,y_pred))
print('root_mean_squared error of is==',np.sqrt(mean_squared_error(y_test,y_pred)))

r2 socre is 0.9347068473282424
Mean Absolute Error: 7514.293659640607
mean_sqrd_error is== 83502864.03257747
root_mean_squared error of is== 9137.99015279495